<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>GIDClientID</key>
    <string>999981480769-chq34gahnpgkk42t0i4902pudjsif9ql.apps.googleusercontent.com</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.999981480769-chq34gahnpgkk42t0i4902pudjsif9ql</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
